body {
 /* background-color: #BADA55;*/
  background-color: powderblue;
  margin: 0;
  overflow: hidden;
}

/*==================MENU BAR (yet to be made responsive)==================*/
.menu {
  display: grid;
  border-top: 1px solid black;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 40px;
  background-color: black;
  text-align: center;
}

a {
  font-family: 'Rock Salt', 'Gloria Hallelujah', Courier;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
a:hover {
  color: orange;
}

.one {
  margin: auto;
}

.two {
  margin: auto;
}

.three {
 margin: auto;
}

.four {
  margin: auto;
}
/*============================================*/
.mainHeading {
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: 'Rock Salt', 'Gloria Hallelujah', Courier;
  font-size: 40px;
  transform: scale(1.25,1.25);
  color: orange;
  text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                3px 3px 0 #000;
}
/*.mainHeading:hover {
 *  transform: scale(1.5,1.5);
 *    color: red;
 *    }*/

/*Drawing window frame*/
#windowShape {
  stroke-dasharray: 3800;
  animation: drawFrame 3s linear;
  animation-fill-mode: forwards;
}
@keyframes drawFrame {
  from {stroke-dashoffset: 3800; fill:transparent;}
  to {stroke-dashoffset: 0; fill: #A9FCF5;}
}

/*Drawing window lines and panes*/
.windowLine {
  stroke-dasharray: 300;
  animation: drawLine 1s linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes drawLine {
  from {stroke-dashoffset: 300; stroke: transparent;}
  to {stroke-dashoffset: 0; stroke: brown;}
}

/*Drawing curtains*/
.curtains {
  animation: drawCurtains 1s linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
@keyframes drawCurtains {
  from {fill: transparent;}
  to {fill: pink;}
}
